.side_right
  float: right
  margin: 0px
  padding: 0px
  position: relative
  z-index: 5
  overflow: none
  bottom: 0px

.banner_top
  .banner_big
    margin: 30px
    margin-bottom: 0px
    height: 330px
    width: 280px
    position: relative
    border: black 1px solid
    +box-shadow (white 0px 0px 5px)

  .banner_note
    height: 75px
    width: 100%
    background: rgba(black, 0.7)
    bottom: 0px
    position: absolute
    h3
      padding-top: 10px
      margin-left: 10px
      margin-bottom: 10px
      font-weight: bold
    h4
      margin-left: 10px
      margin-right: 10px
      margin-top: 10px
      font-weight: normal
      font-size: 12px
      color: yellow

.banner_small
  margin: 30px
  margin-bottom: 0px
  height: 150px
  width: 280px
  position: relative
  border: black 1px solid
  +box-shadow (white 0px 0px 5px)

  .banner_small_note
    height: 40px
    width: 100%
    background: rgba(black, 0.7)
    bottom: 0px
    position: absolute
    h3
      padding-top: 10px
      margin-left: 10px
      margin-bottom: 0px
      font-weight: bold
      color: yellow
      text-shadow: black 1px 1px 3px

.banner_square
  margin: 30px
  height: 280px
  width: 280px
  position: relative
  border: black 1px solid
  +box-shadow (white 0px 0px 5px)

span.location
  font-weight: normal
  font-size: 12px
  color: grey
