.maps
  height: 100%
  width: 30%
  background: red
  float: left
  margin: 0px
  padding: 0px
  border-right: solid black 1px
  position: relative

.list
  height: 100%
  width: 70%
  background: green
  float: right
  position: relative
