.list
  height: 100%
  width: 379px
  background: #cccccc
  float: left
  margin: 0px
  padding: 0px
  border-right: solid #BFBFBD 1px
  position: relative
  z-index: 5
  overflow-y: scroll

.maps
  height: 100%
  background: #cccccc
  float: right
  margin-right: 0px
  margin-left: 0px
  position: absolute
  left: 379px
  z-index: 0
  right: 0
  +single-box-shadow(black, 0px, 0px, 10px, $inset:true)

#contact-map
  width: 100%
  height: 100%
  margin: 0px

.results_odd, .results_even, .active
  height: 110px
  width: 100%
  padding-top: 20px
  padding-bottom: 20px
  border-bottom: 1px solid #cccccc
  .logo_result
    width: 100px
    height: 100px
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 20px
    background: red
    float: left
    border: #980000 solid 1px
    +single-box-shadow(#980000, 0px, 0px, 10px, $inset:true)

  h3
    margin-left: 20px
    font-weight: bold
    color: #4D4D4D

  .business-info
    margin-left: 20px
    margin-right: 20px
    .street, .location, .telephone
      display: block

  span
    font-weight: bold
    color: #4D4D4D
    width: 300px
    margin-right: 0px


.results_odd
  background: #f2f2f2
  +single-box-shadow(white, 0px, 0px, 5px, $inset:true)

.active
  background: #EBEBEB
  +single-box-shadow(#D2D2D2, 0px, 0px, 8px, $inset:true)

.results_even
  background: #EBEBEB
  +single-box-shadow(white, 0px, 0px, 5px, $inset:true)

