.results_container
  height: 100%
  margin-right: 0px
  position: absolute
  left: 0
  margin-left: 40px
  margin-top: 30px
  z-index: 0
  right: 341px
  overflow-y: none

.results_box
  height: 300px
  width: 280px
  background: #EBEBEE
  right: 0px
  left: 0px
  float: left
  margin-left: 10px
  margin-bottom: 10px
  border: #CCCCCC solid 1px
  +box-shadow(rgba(#636769, .3) 0 0 10px, rgba(white, .2) 0 0 3px 1px inset)
  +border-radius(5px)
  span.company
    h3
      display: inline-block
      font-weight: bold
      margin-left: 20px
      margin-bottom: 5px
  span.location
    h4
      margin-left: 20px
      color: grey



.avatar_box_results
  height: 177px
  width: 240px
  background: red
  margin: 20px
  border: white solid 1px
  +box-shadow(rgba(black, .4) 0 0 10px 1px inset)

