.results_container
  height: 100%
  background: #cccccc
  margin-right: 0px
  position: absolute
  left: 0
  z-index: 0
  right: 341px
  overflow-y: none

.results_box
  height: 100px
  width: 200px
  background: #EBEBEE
  right: 0px
  left: 0px
  float: left
  +single-box-shadow(white, 0px, 0px, 10px, $inset:true)

  // DO IT FLUID
  // +blueprint-liquid-grid

